<h1>DBZ Personajes</h1>
<hr />

<div class="row">
  <div class="col">
    <!-- aca pasamos la property que definimos en el componente con el decorador input -->
    <dbz-list
      [characterList]="characters"
      (onDelete)="onDeleteCharacter($event)"
    ></dbz-list>
  </div>
  <div class="col">
    <!-- yo escucho el evento onNewCharacter que es cuando emitamos un nuevo character, aca le decimos que hacer cuando pase eso -->
    <dbz-add-character
      (onNewCharacter)="onNewCharacter($event)"
    ></dbz-add-character>
  </div>
</div>
